<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="documentDBEndpointUrl" value=""/>
    <add key="documentDBAuthorizationKey" value=""/>
    <add key="databaseId" value="mroda"/>
    <add key="collectionId" value="armtemplategallery"/>
    <add key="githubUsername" value="mroda"/>
    <add key="githubPassword" value=""/>
    <add key="githubRepoName" value="azurermtemplates"/>
    <add key="githubRepoOwner" value="mroda"/>
  </appSettings>
</configuration>